#header-navbar {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}

#header-container {
    width: 100%
}

.game-navbar {
    height: 40px;

}

.board-header {
    width: 100%;
}

#game-container {
    width: 100%;
}