<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#">Link</a>
                            </li>
                        </ul>
                    </div>

                </nav>
                <div class="row">
                    <div class="col-md-8">
                        <div class="jumbotron">
                            <h2>Welcome to Battleship!</h2>
                            <p>
							This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
                            </p>
                            <p>
                                <a class="btn btn-primary btn-large" href="#">Play</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="2">Statistics</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="success">
                                    <td>Won games</td>
                                    <td>8</td>
                                </tr>
                                <tr class="danger">
                                    <td>Lost Games</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Total Games</td>
                                    <td>10</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>