<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Battleship</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/loginStyle.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <script src="@routes.Assets.at("javascripts/facebook.js")"></script>

    </head>
    <body id="body">
        <table id="login-table" class="table">
            <thead>
                <tr>
                    <th><h4>Please, login into your Facebook Account</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <fb:login-button id="fb-button"scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
                    </td>
                    <div id="status">
                    </div>
                </tr>
            </tbody>
        </table>
    </body>
</html>